

<%= form_for :user, url: '/users' do |f| %>
  <div class="registration_form">
    <h1>Signup!</h1>
    Name: <%= f.text_field :name %>
    Email: <%= f.text_field :email %>
    Password: <%= f.password_field :password %>
    Password Confirmation: <%= f.password_field :password_confirmation %>
    <%= f.submit "Submit" %>
  </div>
<% end %>